.box{
    position: relative;
    background: #000;
    margin: 0 auto;
}
.item{
    position: absolute;
    width: 60px;
    height: 60px;
    background: lightyellow;
    transition: all .3s ease;
}
button{
    width: 160px;
    height: 38px;
    display: block;
    margin: 60px auto 0;
}















